<table class="map">
    <thead>
    <tr>
      <th>Ohio House</th>
      <th>Ohio Senate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/assets/images/unity-maps/OCRCStateHouseMapv2.png" target="_blank"><img src="/assets/images/unity-maps/OCRCStateHouseMapv2.png" width="100%" /></a></td>
      <td><a href="/assets/images/unity-maps/OCRCSenateMapv2.png" target="_blank"><img src="/assets/images/unity-maps/OCRCSenateMapv2.png" width="100%" /></a></td>
    </tr>
  </tbody>
  </table>