$main-color: #751a29;
$secondary-color: #051d4d;
$bg-color: #fbfaf6;
$text-color: #394040;
$text-inv-color: #fff;
$sep-color: rgba(0,0,0,.1);

$header-font: "Source Sans Pro", "Helvetica", sans-serif;
$lead-font: "Source Sans Pro", "Helvetica", sans-serif;
$body-font: "Georgia", serif;