<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>Citizen-led Ohio commission releases ideal "unity maps" and seat numbers to ensure fair, state legislative representation</h1>
          <p>COLUMBUS - Today, the <a href="http://www.ohredistrict.org/"><strong>Ohio Citizens Redistricting Commission</strong></a><strong> (OCRC)</strong>, released their long-awaited &ldquo;unity maps&rdquo; to the public — two ideal, composite legislative maps of Ohio collectively gathered from the input of thousands of Ohioans eager to participate in the redistricting process. These maps are the culmination of a four-month-long solicitation process led by the OCRC, a volunteer-led commission of Ohio grassroots and grasstops leaders and citizens pushing for the fair representation of their communities. <strong><a href="https://ohredistrict.org/unity-maps">The maps are now publicly available on the OCRC website here</a>.</strong></p>
<p><strong><em>Here are the main takeaways from OCRC&rsquo;s proposed unity maps:</em></strong></p>

<ul>
  <li>To ensure representational fairness, Ohio&rsquo;s maps should reflect Ohio&rsquo;s <strong>nearly 55% Republican and 45% Democratic partisan make-up.</strong> (This means maps must include at least 44 Democratic House seats and at least 14 Democratic Senate seats.)</li>
</ul>

<ul>
  <li><strong>The OCRC&rsquo;s unity maps specifically break down to the following seat numbers:</strong></li>


<ul>
  <li><strong>State House: <u>44</u></strong> Democratic seats; <strong><u>55</u></strong> Republican seats; <strong><u>12</u></strong> Minority Opportunity Districts </li>
  <li><strong>State Senate: <u>15</u></strong> Democratic seats; <strong><u>18</u></strong> Republican seats; <strong><u>4</u></strong> Minority Opportunity Districts </li>
</ul>
</ul>

<ul>
  <li>The OCRC maps <strong>keep communities together</strong>, following all of the rules laid out in the Ohio Constitution preventing the unnecessary splitting of counties, municipalities and townships.</li>
</ul>
<p>The OCRC will be submitting these maps as essential testimony to the state&rsquo;s formal redistricting commission. <a href="https://us06web.zoom.us/rec/share/0S-gEG3K5D5qXFHYwnjWr7ZNPdmxw3DCtAbUvwK0kJJ1sM_R9seuYAv14tAF7uk.jLMPRDzfVyRHpsf6">View a recording of the map launch here</a> (pw: 7ys5TU$m).    </p>
<p>&ldquo;Fair, representative maps must reflect how Ohioans actually vote. Ohio Republicans currently hold supermajorities at the Statehouse, but they are not winning supermajorities of the statewide vote. That&rsquo;s not fair or reasonable. Our OCRC unity maps are fair, representative, and meet all of the requirements in the Ohio Constitution as amended by an overwhelming majority of Ohio's voters,&rdquo; said<strong> Kathleen Clyde, OCRC co-chair and former state representative and candidate for secretary of state.</strong></p>
<p>&ldquo;We need maps that adequately reflect our communities and give African-Americans, immigrant communities and other people of color a real pathway to political representation. By introducing OCRC's unity maps, we urge the official Ohio Redistricting Commission to follow the lead of their constituents and draw fair maps that ensure Minority Representation and fully embrace representative fairness,&rdquo; said <strong>Greg Moore, OCRC co-chair and President &amp; CEO of Promise for Democracy. </strong></p>
<p>&ldquo;I grew up living next to the Noor Islamic Cultural Center surrounded by a large Muslim community.  The community around the mosque has always been passionate about politics and civic engagement. However, it has been a struggle advancing issues that affect our community because of the way our neighborhood is segmented through gerrymandering. The Muslim community living around the mosque is split into two congressional districts and two Ohio statehouse districts. As a minority group, it is already difficult enough to make our voices heard, and gerrymandering exacerbates that issue,&rdquo; said <strong>Hadiya Akhtar, Dublin resident, and Ohio State University student. </strong></p>
<p>&ldquo;We want those who run for office to be able to conduct a viable campaign. We want voters to be equal and able to vote. We all want and need to be heard and not to be drowned out by the special interests of large corporations and the ultra-wealthy. We need fair and representative maps for all of Ohio. That&rsquo;s why we present these unity maps to Ohio citizens and leaders as a fair and proportionally representative example of fair districts. These maps will ensure that Ohio&rsquo;s government reflects the will of the people,&rdquo; said <strong>Dr. Ellen Greene Bush, Port Clinton resident, clinical psychologist, and citizen leader of American Promise Ohio. </strong></p>
<p>&ldquo;Ohioans know their communities best, so the most accurate district maps will be drawn using input from real Ohioans. That&rsquo;s why the Equal Districts Coalition is here today to endorse the OCRC maps,&rdquo; said <strong>Desiree Tims, President &amp; CEO of Innovation Ohio and a member of the Equal Districts coalition.</strong> &ldquo;By endorsing the OCRC maps, we&rsquo;re lifting up the testimonies of thousands of everyday Ohioans. We&rsquo;re giving them a megaphone to amplify their voices. That&rsquo;s what the Equal Districts Coalition is all about.&rdquo;</p>
<p>###</p>
<p><em>The<a href="http://www.ohredistrict.org/"> <strong>Ohio Citizens&rsquo; Redistricting Commission</strong></a> (OCRC) is an independent, non-partisan commission made up of volunteer members. Commission members will include academics, political party officials, community representatives, and others from across the state. The Commission&rsquo;s activities include: hosting public hearings for community input, collecting publicly available data for mapmaking, and supporting public education on redistricting. The work of the commission will be culminated into a report including recommendations and a unity map(s), which will be submitted as public testimony in the official redistricting process.</em></p>
                        
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>