<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>Citizen-led Commission Hopeful that Legal Challenges to Gerrymandered Legislative Maps at Ohio Supreme Court Will Result in a Stronger Democracy for Ohio Voters
        </h1>
          <p><strong>CONTACT</strong><br />
		  <strong>Maki Somosot</strong><br />
		  <a href="mailto:maki@ohorganizing.org">maki@ohorganizing.org</a><br />
		  720-487-6632</p>
          <p>“The OCRC applauds the plaintiffs and their legal teams advocating for a more fair outcome for voters than the gerrymandered legislative maps passed into law by the official Ohio Redistricting Commission in September.</p> 

            <p>Ohioans deserve fair maps that represent all of our communities and a fair process that includes all of us, no exceptions. That is why our goal as a commission this past year was to model an equitable redistricting process with robust, meaningful opportunities for public input and that is exactly what we did. The OCRC held virtual hearings for every region of our state and collected testimony from thousands of citizens over a four month period even without updated census data.</p> 
            
            <p>Our commission’s work proves that it was possible for the official redistricting commission to convene a fair, transparent process and, ultimately, draw maps that proportionately reflect the statewide voting preference of Ohioans while respecting the right to fair representation for voters from Black, brown, immigrant, and other minority communities.</p> 
            
            <p>In 2015, Ohioans called for a transparent, inclusive, and fair process that would yield maps to guarantee every vote counts and every community has the opportunity to elect leaders who reflect their values. </p> 
            
            <p>Our commission knows that Ohioans deserve better than the partisan-rigged maps drawn in secrecy without regard for citizen input currently slated to go into effect. We are hopeful that the end result of these legal challenges will be maps that respect the will and power of voters, regardless of our skin color, zip code, or background.”</p> 
              
          <p><strong>- Jeniece Brock, OCRC vice-chair and Policy and Advocacy Director of the Ohio Organizing Collaborative.</strong></p>


          <p>###</p>
          <p><em>The<a href="http://www.ohredistrict.org/"> <strong>Ohio Citizens&rsquo; Redistricting Commission</strong></a> (OCRC) is an independent, non-partisan commission made up of volunteer members. Commission members will include academics, political party officials, community representatives, and others from across the state. The Commission&rsquo;s activities include: hosting public hearings for community input, collecting publicly available data for mapmaking, and supporting public education on redistricting. The work of the commission will be culminated into a report including recommendations and a unity map(s), which will be submitted as public testimony in the official redistricting process.</em></p>
                        
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>