<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>Citizen-led commission responds to the ORC’s decision to move forward with 4-year maps</h1>
          <p><strong>CONTACT</strong><br />
		  <strong>Maki Somosot</strong><br />
		  <a href="mailto:maki@ohorganizing.org">maki@ohorganizing.org</a><br />
		  720-487-6632</p>
          <p>&ldquo;We are deeply disappointed in the unconstitutional maps voted on by the Ohio Redistricting Commission last night. These maps do not meet the spirit or letter of the reforms Ohioans overwhelmingly voted for in 2015. Ohioans called for a transparent, inclusive, and fair process that would yield maps to guarantee every vote counts and every community has a shot at electing leaders that reflect their values and needs.&nbsp;          </p>
          <p>The Ohio Citizens Redistricting Commission knows that Ohioans deserve better than unconstitutional, partisan-rigged maps passed without good faith effort towards fairness or transparency. Our entire citizen-led process and the resulting unity maps prove that it is possible to meet all constitutional requirements, such as reflecting voter preferences and keeping communities together, while fairly representing the interests of Black, brown, and immigrant Ohioans throughout the state.&nbsp;          </p>
          <p>Each vote by the majority party elected officials in support of these unconstitutional maps is unconscionable and a dereliction of duty. We applaud the courage of the commissioners who stood firm for the constitution and voted against these terrible maps.          </p>
          <p>We are proud of the incredible, historic work that this citizens&rsquo; commission has done to make sure everyone&rsquo;s voices are heard during this crucial redistricting process. Our government should always be by and for the people, and the OCRC has modeled what our lawmakers should have been doing from the beginning: providing a fair, transparent, and equitable process that meets all the requirements and timelines laid out in the Ohio constitution.&rdquo; - Jeniece Brock, OCRC vice-chair and Policy and Advocacy Director of the Ohio Organizing Collaborative.</p>
          <p>###</p>
<p><em>The<a href="http://www.ohredistrict.org/"> <strong>Ohio Citizens&rsquo; Redistricting Commission</strong></a> (OCRC) is an independent, non-partisan commission made up of volunteer members. Commission members will include academics, political party officials, community representatives, and others from across the state. The Commission&rsquo;s activities include: hosting public hearings for community input, collecting publicly available data for mapmaking, and supporting public education on redistricting. The work of the commission will be culminated into a report including recommendations and a unity map(s), which will be submitted as public testimony in the official redistricting process.</em></p>
                        
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>