<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>Citizen-led commission advocates for 7 Democrat seats, 8 Republican seats in Congress to reflect fairness and proportionality</h1>
          <p><strong>CONTACT</strong><br />
		  <strong>Maki Somosot</strong><br />
		  <a href="mailto:maki@ohorganizing.org">maki@ohorganizing.org</a><br />
		  720-487-6632</p>
          <p>“The Ohio Citizens Redistricting Commission (OCRC) is deeply disappointed in the rigged congressional map voted out of the Senate this afternoon and introduced by the majority party less than 14 hours before Ohioans had their opportunity to testify. In addition to privileging one party, this map also cracks and packs communities of color, diluting the power of our votes and depriving us of fair representation.</p>

          <p><strong>Ohioans deserve <a href="https://ohredistrict.org/assets/images/unity-maps/OCRC-Congressional-Report.pdf" target="_blank">7 Democratic seats and 8 Republican seats</a>, which would reflect our statewide vote share, fulfill voters’ wishes, and meet the requirements laid out in Ohio’s Constitution. Ohioans voted roughly 46% Democrat and 54% Republican during the last election, and our congressional map must reflect this reality.</strong></p>
            
          <p>In 2018, Ohioans called for a transparent, inclusive, and fair process that would yield maps to guarantee every vote counts and that voters have the power to elect leaders that represent their community and reflect their values. When leaders come from the community they represent, they know what resources are needed for schools, healthcare, housing security and public transportation. </p>
            
            
           <p>I live in Summit County, which is split into four congressional districts under our current maps and wherein none of our representatives over the past decade have actually lived. Our congressional maps should ensure that communities like mine in Akron have fair representation. </p>
            
            <p>The OCRC’s process resulted in maps that reflect statewide voter preference and keeps communities together, while fairly representing the interests of Black, brown, and immigrant Ohioans. Our commission knows that Ohioans deserve better than partisan-rigged maps drawn in secrecy without regard for adequate citizen input. </p>
            
          <p>We stand by the incredible work that the OCRC has done to make sure everyone’s voices are heard throughout this entire redistricting process. Our government should always be by and for the people, and the OCRC has modeled what our lawmakers should have been doing from the beginning: providing a fair, transparent, and equitable process that results in fair representation. We deserve fair maps that represent all of our communities and a fair process that includes all of us, no exceptions.” </p> 
              
          <p><strong>- Jeniece Brock, OCRC vice-chair and Policy and Advocacy Director of the Ohio Organizing Collaborative.</strong></p>


          <p>###</p>
          <p><em>The<a href="http://www.ohredistrict.org/"> <strong>Ohio Citizens&rsquo; Redistricting Commission</strong></a> (OCRC) is an independent, non-partisan commission made up of volunteer members. Commission members will include academics, political party officials, community representatives, and others from across the state. The Commission&rsquo;s activities include: hosting public hearings for community input, collecting publicly available data for mapmaking, and supporting public education on redistricting. The work of the commission will be culminated into a report including recommendations and a unity map(s), which will be submitted as public testimony in the official redistricting process.</em></p>
                        
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>