<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div id="wrap">
      <main role="main" class="container-fluid flex-fill px-0">
        {% include header.html %}
        <div class="row no-gutters">
          <div class="col home-bleed">
            <p>
              Community-Centered Redistricting for Ohio
            </p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-md-center">
          <div class="col-md-auto info-container">
            {{content}}
          </div>
        </div>
        <hr />
        <div class="row justify-content-md-center">
          <div class="col-md-auto home-meeting-container">
            <h1>Next Hearings</h1>
            {% assign next_meeting = site.meetings | where: "featured", true %}
            {% for meeting in next_meeting %}
              {% include hearing.html meeting=meeting %}
            {% endfor %}
            <p class="default-button"><a href="/past-hearings.html" class="btn btn-meeting" role="button">Watch Past Hearing Videos</a></p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-md-center">
          <div class="col-md-auto info-container">
            <h1>Meet The Ohio Citizens’ Redistricting Commission</h1>
            <!-- {% include team.html %} -->
            <ul>

              <li>Alan Bannister, Ohio political professional, former Ohio statewide political director for Joe Biden</li>
              <li>Amina Barhumi, Outreach Director at CAIR Ohio</li>
              <li>Jeremy Blake, Newark City Council member, Equality Ohio board member</li>
              <li>Jeniece Brock, (OCRC Vice Chair) - Health Scientist, Policy & Advocacy Director for the Ohio Organizing</li>
              <li>Dr. Ellen Greene Bush, Community Member</li>
              <li>Akii Butler, Student Organizer at Ohio Student Association</li>
              <li>Kathleen Clyde, (OCRC Co-Chair) - Former State Rep, Former Candidate for Sec. State</li>
              <li>Sam Gresham, Chair of Common Cause Ohio</li>
              <li>Dr. Richard Gunther, Professor Emeritus, Ohio State University</li>
              <li>Gregory Moore, (OCRC Co-Chair) - President & CEO of Promise for Democracy</li>
              <li>Dr. Lis Regula, Lecturer, University of Dayton</li>
              <li>Katy Shanahan, All On The Line Ohio State Director</li>
              <li>Barbara A. Sykes, President & CEO of Ohio Legislative Black Caucus Foundation</li>
              <li>Chris Tavenor, Staff Attorney, OEC Law Center</li>
              <li>André Washington, President of the A. Philip Randolph Institute (APRI) Ohio Chapter</li>

          </ul>

            <p class="default-button"><a href="/commission.html" class="btn btn-meeting" role="button">Learn More About The Commissioners</a></p>

            <h2>Commission Selection Process</h2>
            <p>
              Commission members are selected through an application or referral process. There is no requirement for existing familiarity with redistricting. We desire a wide range of background knowledge on the topic.
            </p>
          </div>

        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
