<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>{{page.title}}</h1>
          <h2>Media coverage</h2>
          <ul>

            <li>Cincinnati City Beat, 12/15/2021 - <a href="https://www.citybeat.com/news/packing-and-cracking-how-ohios-gerrymandering-affects-communities-12348577" target="_blank">'Packing and Cracking': How Ohio's Gerrymandering Affects Communities</a></li>

            <li>Cleveland Scene, 12/15/2021 - <a href="https://www.clevescene.com/scene-and-heard/archives/2021/12/15/ohio-democracy-warriors-share-stories-of-cracking-and-packing-in-redistricting" target="_blank">Ohio Democracy Warriors Share Stories of “Cracking and Packing” in Redistricting</a></li>

            <li>Ohio Capital Journal, 12/15/2021 - <a href="https://ohiocapitaljournal.com/2021/12/15/environmental-group-congressional-maps-bad-for-environment-and-democracy/" target="_blank">Environmental group: Congressional maps bad for environment and democracy</a></li>

            <li>Ohio Public News Service, 12/13/2021 - <a href="https://www.publicnewsservice.org/2021-12-13/civic-engagement/ohio-democracy-warriors-share-stories-of-cracking-and-packing/a76946-1" target="_blank">Ohio Democracy Warriors Share Stories of “Cracking and Packing”</a></li>

            <li>Cleveland.com, 12/10/2021 - <a href="https://www.cleveland.com/opinion/2021/12/covid-inequities-show-why-ohios-fair-map-mandate-must-not-be-ignored-jeniece-brock.html" target="_blank">COVID inequities show why Ohio’s fair map mandate must not be ignored: Jeniece Brock</a></li>

            <li>Washington Post, 11/20/2021 - <a href="https://www.washingtonpost.com/politics/ohio-redistricting-gerrymander/2021/11/18/b0dc3bfe-37ef-11ec-91dc-551d44733e2d_story.html" target="_blank">Ohio Republicans’ redistricting map dilutes Black voters’ power in Congress, critics say</a></li>

            <li>WOSU, 11/15/2021 - <a href="https://news.wosu.org/news/2021-11-15/hopes-of-bipartisan-compromise-in-ohios-congressional-map-fade-ahead-of-deadline" target="_blank">Hopes Of Bipartisan Compromise In Ohio's Congressional Map Fade Ahead Of Deadline</a></li>

            <li>Ohio Capital Journal, 09/17/2021 - <a href="https://ohiocapitaljournal.com/2021/09/17/huffman-defends-his-maps-redistricting-process-despite-no-bipartisan-support/" target="_blank">Huffman defends his maps, redistricting process despite no bipartisan support</a></li>
            <li>ABC6, 09/16/2021 - <a href="https://abc6onyourside.com/news/local/ohio-redistricting-committee-approves-4-year-plan-for-new-house-senate-districts" target="_blank">Ohio Redistricting Committee approves 4-year plan for new House, Senate districts</a></li>
            <li>Lake Geneva Regional News, 09/15/2021 - <a href="https://www.lakegenevanews.net/news/national/govt-and-politics/ohio-map-making-panel-sees-new-proposals-as-deadline-nears/article_6cdda22a-13eb-5d50-ac0a-d30353bd2861.html" target="_blank">Ohio map-making panel sees new proposals as deadline nears</a></li>
            <li>Ohio Capital Journal, 09/15/2021 - <a href="https://ohiocapitaljournal.com/2021/09/15/final-public-hearing-brings-no-agreement/" target="_blank">Final public redistricting hearing brings no agreement</a></li>
            <li>Columbus Dispatch, 9/14/2021 - <a href="https://www.dispatch.com/story/opinion/columns/guest/2021/09/14/kathleen-clyde-and-greg-moore-lawmakers-rigged-map-would-steal-ohioans-right-representation/8322287002/?fbclid=IwAR1hcM9_2FlhKDkbRKve0Vjg28jn-6hH92Pg9YqAx3j6HRWz1BZDkT7udEA" target="_blank">Kathleen Clyde & Greg Moore: Opinion: Lawmaker's 'rigged' map would steal Ohioans' right to representation</a></li>
            <li>Spectrum News 1, 09/14/2021 - <a href="https://spectrumnews1.com/oh/columbus/news/2021/09/14/ohio-redistricting-commission-holds-last-hearing-on-legislative-maps" target="_blank">Ohio Redistricting Commission hosts last hearing on legislative maps</a></li>
            <li>Cincinnati Enquirer, 09/14/2021 - <a href="https://www.cincinnati.com/story/news/politics/2021/09/14/ohio-redistricting-how-statehouse-maps-split-communities/8315837002/" target="_blank">Redistricting for Ohio Statehouse: How GOP mapmakers split urban communities for political ends</a></li>
            <li>Ohio Capital Journal, 09/12/2021 - <a href="https://ohiocapitaljournal.com/2021/09/12/redistricting-coalition-pans-gop-map-hopes-for-better-result-by-deadline/" target="_blank">Redistricting Coalition pans GOP map, hopes for better result by deadline</a></li>
            <li>WOSU, 8/26/2021 - <a href="https://news.wosu.org/politics/2021-08-26/coalition-submits-unity-map-to-ohio-redistricting-commission" target="_blank">Coalition Submits 'Unity' Map To Ohio Redistricting Commission</a></li>
            <li>WTVG, 8/25/2021 - <a href="http://13abc.com/2021/08/26/input-2000-ohioans-influences-proposed-legislative-maps/" target="_blank">Input from 2,000 Ohioans influences proposed legislative maps</a></li>
            <li>The Statehouse News Bureau, 8/25/2021 - <a href="https://www.statenews.org/government-politics/2021-08-25/coalition-endorses-unity-maps-submitted-to-redistricting-commission" target="_blank">Coalition Endorses 'Unity' Maps Submitted To Ohio Redistricting Commission</a></li>
            <li>Spectrum News 1, 8/25/2021 - <a href="https://spectrumnews1.com/oh/columbus/news/2021/08/25/ohio-citizens-redistricting-commission-unveils--unity-maps-" target="_blank">Ohio Citizens Redistricting Commission unveils 'unity maps'</a></li>
            <li>Ideastream, 8/25/2021 - <a href="https://wcpn.ideastream.org/news/coalition-endorses-unity-maps-submitted-to-ohio-redistricting-commission" target="_blank">Coalition Endorses 'Unity' Maps Submitted To Ohio Redistricting Commission</a></li>
            <li>WYSO, 08/19/2021 - <a href="https://www.wyso.org/local-and-statewide-news/2021-08-19/ohio-legislative-black-caucus-foundation-concerned-about-redistricting-and-voter-suppression" target="_blank">Ohio Legislative Black Caucus Foundation Concerned About Redistricting And Voter Suppression</a></li>
            <li>News 5 Cleveland, 08/13/2021 - <a href="https://www.news5cleveland.com/news/local-news/2020-census-cleveland-cuyahoga-county-lose-thousands-of-residents-northeast-ohio-more-diverse" target="_blank">2020 Census: Cleveland, Cuyahoga County lose thousands of residents; Northeast Ohio more diverse</a></li>
            <li>WYSO, 08/13/2021 - <a href="https://www.wyso.org/local-and-statewide-news/2021-08-13/local-muslim-groups-host-community-redistricting-event" target="_blank">Local Muslim Groups Host Community Redistricting Event</a></li>
            <li>Spectrum News 1, 08/13/2021 - <a href="https://spectrumnews1.com/oh/columbus/news/2021/08/13/census--columbus-grows-as-population-in-rural-ohio-shrinks" target="_blank">Census: Columbus, Cincinnati grow as population in Cleveland, rural Ohio shrinks</a></li>
            <li>AP News, 08/12/2021 - <a href="https://apnews.com/article/ohio-census-2020-columbus-ff7a76d3150efca074fea4cdd6c3c7e4" target="_blank">Census: Columbus grows as population in rural Ohio shrinks</a></li>
            <li>Limaohio.com, 08/12/2021 - <a href="https://www.limaohio.com/news/472003/census-data-kicks-off-effort-to-reshape-us-house-districts" target="_blank">Columbus grows as population in rural Ohio shrinks</a></li>
            <li>The Columbus Dispatch,  - <a href="https://www.dispatch.com/story/news/2021/08/02/ohio-gov-mike-dewine-redistricting-commission-meet-state-awaits-census-data/5453512001/" target="_blank">Ohio Gov. Mike DeWine convenes redistricting commission ahead of 2020 Census data release</a></li>
            <li>Cleveland.com Opinion, 06/18/2021 - <a href="https://www.cleveland.com/opinion/2021/06/an-unrigged-future-for-ohio-communities-in-the-next-redistricting-process-desiree-tims-and-prentiss-haney.html" target="_blank">An unrigged future for Ohio communities in the next redistricting process: Desiree Tims and Prentiss Haney</a></li>
            <li>Ideastream, 06/12/2021 - <a href="https://www.ideastream.org/news/new-community-group-forms-to-comment-on-ohio-redistricting-process" target="_blank">New Community Group Forms To Comment On Ohio Redistricting Process</a></li>
            <li>WYSO, 06/08/2021 - <a href="https://www.wyso.org/local-and-statewide-news/2021-06-08/new-community-political-group-forms-to-comment-on-redistricting-process" target="_blank">New Community Group Forms To Comment On Political Redistricting Process</a></li>
          </ul>


          <h2>From the Commission</h2>
          <ul>
            <li>OCRC Media Statement, 12/09/2021:  <a href="2021-12-09-press-release">Citizen-led Commission Hopeful that Legal Challenges to Gerrymandered Legislative Maps at Ohio Supreme Court Will Result in a Stronger Democracy for Ohio Voters</a></li>
            <li>OCRC Media Statement, 11/16/2021: <a href="2021-09-16-press-release-2">Citizen-led commission advocates for 7 Democrat seats, 8 Republican seats in Congress to reflect fairness and proportionality</a></li>
              <li>OCRC Media Statement, 09/16/2021: <a href="2021-09-16-press-release">Citizen-led commission responds to the ORC’s decision to move forward with 4-year maps</a></li>
              <li>Press release: <a href="2021-08-25-press-release">Citizen-led Ohio commission releases ideal "unity maps" and seat numbers to ensure fair, state legislative representation</a></li>
              <li>Press release: <a href="https://ohredistrict.org/2021/05/12/launch.html">New Citizens' Redistricting Commission Launches in Ohio to Spotlight Community Needs</a></li>
              <li>Media advisory: <a href="https://docs.google.com/document/d/1HaRwWhxFZLEcf50jo93rSNpZnfAPtB53PgJTETWrj4U/edit?usp=sharing" target="_blank">Advocates push for fair maps in Ohio ahead of U.S. census data release</a></li>
          </ul>
                        
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>