<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <div id="wrap">
    <main role="main" class="container-fluid flex-fill px-0">
      {% include header.html %}
      <div class="row justify-content-md-center">
        <div class="col-md-auto info-container">
          <h1>{{page.title}}</h1>
          <table class="map">
            <thead>
            <tr>
              <th>Ohio House</th>
              <th>Ohio Senate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/assets/images/unity-maps/OhioStateHouse.pdf" target="_blank"><img src="/assets/images/unity-maps/OhioStateHouse-sm.jpg" width="100%" /></a></td>
              <td><a href="/assets/images/unity-maps/OhioStateSenate.pdf" target="_blank"><img src="/assets/images/unity-maps/OhioStateSenate-sm.jpg" width="100%" /></a></td>
            </tr>
          </tbody>
          </table>

          <table class="map">
            <thead>
            <tr>
              <th colspan="2">OCRC Unity Maps Breakdown</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Ohio House</b></td>
              <td><b>Ohio Senate</b></td>
            </tr>
            <tr>
              <td>
                44 Democratic seats</td>
              <td>15 Democratic seats</td>
            </tr>
            <tr>
              <td>55 Republican seats</td>
              <td>18 Republican seats</td>
            </tr>
            <tr>
              <td>12 Minority Opportunity Districts</td>
              <td>4 Minority Opportunity Districts</td>
            </tr>
          </tbody>
          </table>

          <p>If passed, these unity maps would mark the first time where we have actual, realistic maps that reflect how Ohioans vote - not maps that have been gerrymandered to privilege a certain political majority. </p>

          <p>Fair, representative maps must reflect how Ohioans actually vote. Over the last decade, Ohio Republicans have only captured about 55% of the statewide vote. Ohio Republicans currently hold supermajorities at the Statehouse, but they are not winning supermajorities of the statewide vote. That’s not fair or reasonable.</p>
            
          <p>At the state legislative level, maps must include at least 44 Democratic House seats (out of 99 seats) and 15 Democratic Senate seats (out of 33 seats).</p>
            
          <p>Ohioans want a transparent process we can trust, where communities remain whole and where voters’ representational power has been diluted by “packing and cracking,” especially Black voters.</p>
            
          <p>Our commission’s proposed map recommends 12 Minority Opportunity Districts for the Ohio House and 4 Minority Opportunity Districts for the Senate, meaning they have a Black Voting Age Population of at least 30%. Two additional seats are within 2% of the minority opportunity threshold.</p>
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>